.todo-form {
    display: flex;
    &__input {
        border-radius: 0.7rem;
        font-size: 2rem;
        line-height: 0.1rem;
        width: 43vw;
    }
    &__button {
        border-radius: 0.7rem;
    }
    &__select {
    }
    &__filter {
        border-radius: 0.7rem;
    }
}
