.todo {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border: 1px solid black;
    &__checkbox {
    }
    &__text {
    }
    &__delete {
    }
}
.checked {
    text-decoration: line-through;
}
